<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>CryptoEvents</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
	<!--[if lt IE 9]> <script src="js/html5shiv.js"></script> 
	<script src="js/respond.min.js"></script> <![endif]--> 		
        <!-- Place favicon.ico in the root directory -->
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">

    </head>
<body >
		 <!-- start preloader -->
        <div id="loader-wrapper">
            <div class="logo"></div>
            <div id="loader">
            </div>
        </div>
        <!-- end preloader -->
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		
		
<!-- Start Header Section -->
<header class="main_menu_sec navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12">
				<div class="lft_hd">
					<a href="/"><img src="img/logo.png" alt=""/></a>
				</div>
			</div>			
			<div class="col-lg-9 col-md-9 col-sm-12">
				<div class="rgt_hd">					
					<div class="main_menu">
						<nav id="nav_menu">
							<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>	
						<div id="navbar" class="collapse">
							<ul>
								<li><a class="page-scroll" href="#overview">Overview</a></li>
								<li><a class="page-scroll" href="#events">Events</a></li>
								<li><a class="page-scroll" href="#quest_answ">Question &amp; Answers</a></li>
							</ul>
                            <div class="buttons">
								<div class="page-scroll login"><a class="white" href="#login">Login</a></div>
								<div class="page-scroll buttonsmall  signin"><a class="orange" href="#sigin">Sign In</a></div>
							</div>
						</div>		
						</nav>			
					</div>					
						
				</div>
			</div>	
		</div>	
	</div>	
</header>
<!-- End Header Section -->

<!-- start slider Section -->
<section id="slider_sec">
	<div class="container">
		<div class="row">
			<div class="slider">
				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="wrap_caption">
						  <div class="caption_carousel">
							<img class="caption_img" src="img/Title.png" />
							<p>&nbsp;</p>
							<p>Just take them out and they’re ready to use with all your devices. Put them in your ears and they connect instantly. Speak into them and your voice sounds clear. Introducing AirPods. Simplicity and technology, together like never before. The result is completely magical.</p>
						    <p><div class="button"><a href="#events" class="white">Create event</a></div></p>
						  </div>						
						</div>
					</div>
				  </div>				  
			</div>	
		</div>			
	</div>	
</section>
<!-- End slider Section -->

<!-- start about Section -->
<section id="abt_sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
				<div class="col-md-6 col-sm-12 col-xs-12 fadeInRight"><img src="img/img1.svg">
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 fadeInLeft">
					<h2>Easily create events or lotteries</h2>
                    <p>Just take them out and they’re ready to use with all your devices. Put them in your ears and they connect instantly. Speak into them and your voice sounds clear. Introducing AirPods. Simplicity and technology, together like never before. The result is completely magical
Just take them out and they’re ready to use with all your devices. Put them in your ears and they connect instantly. Speak into them and your voice sounds clear.</p>
			  </div>
<div class="clear"></div>
<div class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft">
                <img src="img/img2.svg">
			  </div>
				<div class="col-md-6 col-sm-12 col-xs-12">					<h2>Based on blockchain technology</h2>
                    <p>Just take them out and they’re ready to use with all your devices. Put them in your ears and they connect instantly. Speak into them and your voice sounds clear. Introducing AirPods. Simplicity and technology, together like never before. The result is completely magical
Just take them out and they’re ready to use with all your devices. Put them in your ears and they connect instantly. Speak into them and your voice sounds clear.</p>
</div>
<div class="clear"></div>
<div class="col-md-6 col-sm-12 col-xs-12 fadeInRight"><img src="img/img3.svg">
</div>
<div class="col-md-6 col-sm-12 col-xs-12 fadeInLeft">
					<h2>Create tokens and exchange them for actions or tickets</h2>
                    <p>Just take them out and they’re ready to use with all your devices. Put them in your ears and they connect instantly. Speak into them and your voice sounds clear. Introducing AirPods. Simplicity and technology, together like never before. The result is completely magical
Just take them out and they’re ready to use with all your devices. Put them in your ears and they connect instantly. Speak into them and your voice sounds clear.</p>
			  </div>
<div class="clear"></div>
<div class="col-md-6 col-sm-12 col-xs-12 fadeInLeft">
                <img src="img/img4.svg">
			  </div>
				<div class="col-md-6 col-sm-12 col-xs-12">
                	<h2>Share your events on social networks</h2>
                    <p>Just take them out and they’re ready to use with all your devices. Put them in your ears and they connect instantly. Speak into them and your voice sounds clear. Introducing AirPods. Simplicity and technology, together like never before. The result is completely magical
Just take them out and they’re ready to use with all your devices. Put them in your ears and they connect instantly. Speak into them and your voice sounds clear.</p>
</div>
			</div>			
		</div>
	</div>
</section>
<!-- End About Section -->

<!-- start events Section -->
<section id="events">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
				<div class="title_sec">
					<h2>Created events</h2>
				</div>			
			</div>		
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs12">
				<div class="all_team">
					<div class="sngl_team">						
						<div class="sngl_img"><img style="position:absolute; top:40%" src="img/TitleEvents1.svg"></div>
						<h3>Crypto Santa</h3>
						<p>Just take them out and they’re ready to use with all your devices. Put them in your ears and they connect instantly. Speak into them and your voice sounds clear. Introducing AirPods.</p>						
					</div>					
					<div class="sngl_team">						
						<div class="sngl_img"><img style="position:absolute; top:40%" src="img/TitleEvents2.svg"></div>	
						<h3>Crypto Santa</h3>
						<p>Just take them out and they’re ready to use with all your devices. Put them in your ears and they connect instantly. Speak into them and your voice sounds clear. Introducing AirPods.</p>						
					</div>				
					<div class="sngl_team">						
						<div class="sngl_img"><img style="position:absolute; top:40%" src="img/TitleEvents3.svg"></div>	
						<h3>Crypto Santa</h3>
						<p>Just take them out and they’re ready to use with all your devices. Put them in your ears and they connect instantly. Speak into them and your voice sounds clear. Introducing AirPods.</p>						
					</div>				
											
				</div>			
			</div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
				<div class="title_sec">
					<h2><strong>Create your first event</strong></h2>
				</div>
                <form>
<div class="row">
    <div class="col-xs-12">
      <div class="input-group">
      <input type="text" class="form-control" placeholder="Name of your project                              " />
      <input type="text" class="form-control" placeholder="Symbol of your project (3-4 letter)" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-warning">Create</button>
				</span>
		</div>
	</div>
</div>
                </form>		
			</div>	
		</div>
	</div>
</section>
<!-- End events Section -->

<!-- start Q&A Section -->
<section id="clt_sec">
	<div class="container">	
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
				<div class="title_sec">
					<h2>Questions &amp; Answers</h2>
				</div>			
			</div>		
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs12">
				<div class="al_clt">						
					<div class="sngl_clt">
						<h3>How to create event</h3>
                        <p>Just take them out and they’re ready to use with all your devices. Put them in your ears and they connect instantly. Speak into them and your voice sounds clear. Introducing AirPods.</p>
					</div>				
					<div class="sngl_clt">
						<h3>How to create event</h3>
                        <p>Just take them out and they’re ready to use with all your devices. Put them in your ears and they connect instantly. Speak into them and your voice sounds clear. Introducing AirPods.</p>
					</div>				
					<div class="sngl_clt">
						<h3>How to create event</h3>
                        <p>Just take them out and they’re ready to use with all your devices. Put them in your ears and they connect instantly. Speak into them and your voice sounds clear. Introducing AirPods.</p>
					</div>				
					<div class="sngl_clt">
						<h3>How to create event</h3>
                        <p>Just take them out and they’re ready to use with all your devices. Put them in your ears and they connect instantly. Speak into them and your voice sounds clear. Introducing AirPods.</p>
					</div>				
					
				</div>
			</div>	
		</div>
	</div>
</section>
<!-- End Q&A Section -->

<!-- start footer Section -->
<footer id="ft_sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="copy_right">
					<li>Copyright &copy; 2017 CryptoEvents Inc. All rights reserved.       |      <a href="privacy.html">Privacy Policy</a> |      <a href="termuse.html">Terms of Use</a></li>
				</ul>					
			</div>	
		</div>
	</div>
</footer>
<!-- End footer Section -->

<script src="js/jquery.min.js"></script>

<script src="js/isotope.pkgd.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/appear.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/showHide.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<script type="text/javascript">

$(document).ready(function(){


   $('.show_hide').showHide({			 
		speed: 1000,  // speed you want the toggle to happen	
		easing: '',  // the animation effect you want. Remove this line if you dont want an effect and if you haven't included jQuery UI
		changeText: 1, // if you dont want the button text to change, set this to 0
		showText: 'View',// the button text to show when a div is closed
		hideText: 'Close' // the button text to show when a div is open
					 
	}); 


});

</script>
<script>
    jQuery(document).ready(function( $ ) {
        $('.counter').counterUp({
            delay: 10,
            time: 1000
        });
    });
</script>

<script>

  //Hide Overflow of Body on DOM Ready //
$(document).ready(function(){
    $("body").css("overflow", "hidden");
});

// Show Overflow of Body when Everything has Loaded 
$(window).load(function(){
    $("body").css("overflow", "visible");        
    var nice=$('html').niceScroll({
	cursorborder:"5",
	cursorcolor:"#00AFF0",
	cursorwidth:"3px",
	boxzoom:true, 
	autohidemode:true
	});

});
</script>



    </body>
</html>
