div#modal-test.modal-container
    div.shade
    div.popup-content
        div.modal-text-cont
            h2 Test
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a condimentum metus. Pellentesque blandit odio at pulvinar mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean urna mi, blandit id consequat dignissim, ornare id dolor. Vivamus pretium mauris eu tellus finibus, vel accumsan orci vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed mollis elit quis dui tincidunt fermentum. Nunc accumsan posuere felis tempus viverra. Aliquam erat volutpat. Fusce rutrum augue ac mauris hendrerit, a tincidunt risus pellentesque.</p>
            div.popup-icon.close-modal
