div#modal-test.modal-container
    div.shade
    div.popup-content
        div.modal-text-cont
            h2
                block title
            p
                block content
            div.popup-icon.close-modal
