extends header.pug
block content

    each eee in event
        include event_for_admin.pug


block prepend javaScript
    script.
        window.mainContractAddress = '#{mainContractAddress}';
        window.contactABI = !{contactABI};