extends header.pug
block content
    div.div80
    section#overview
        each eee in event
            include event_for_admin.pug


block prepend javaScript
    script.
        window.mainContractAddress = '#{mainContractAddress}';
        window.contactABI = !{contactABI};