li.col-3-12.col-tablet-1-2.col-phone-1-1
    div.button.empty.margin-bottom-2.videoThumbnail.noShadow.popupTrigger.ae-3
        <img class="wide" src="assets/img/img-91-1.jpg" alt="Video Thumbnail"/>
    h3.ae-4
        eee
    div.ae-5
        <p class="small">We live in a society where everybody feels guilty.</p></div>
