li.col-3-12.col-tablet-1-2.col-phone-1-1
    div.
        <strong>Name</strong>
        #{eee.name}
    div.
        <strong>Total</strong>
        #{eee.total}
    h3.
        Join to the event
    form#joinToTheEvent.joinToTheEvent(action='/join' method='POST')
        input.fromCenter(type='hidden',name='tokenAddress',value=eee.address)
        input.ae-4.fromCenter(type='text',name='name',placeholder='Your name')
        button.button.pink.ae-7.fromCenter#joinEvent  join