extends header.pug
block content
    div.
       <ul class="menu uppercase crop">
         <li><a href="#" class="register-button">Create account</a></li>
         <li><a href="https://github.com/CryptoEvents" target="_blank">github</a></li>
         <li><a href="#" class="transfer-button">Transfer token</a></li>
       </ul>

       <h1>Start help Santa and earn prizes.</h1>



block prepend javaScript
    script.
        window.mainContractAddress = '#{mainContractAddress}';
        window.contactABI = !{contactABI};
        window.tokenABI = !{tokenABI};