extends layout.pug
block content

    form#createTokenForm(action='/newToken' method='POST')
        input.ae-4.fromCenter(type='text',name='name',placeholder='Token name')
        input.ae-4.fromCenter(type='text',name='symbol',placeholder='Token symbol')
        button.button.pink.ae-7.fromCenter#createToken  create new token

    each eee in event
        include event.pug

    include components/popups/installMetamask


block prepend javaScript
    script.
        window.mainContractAddress = '#{mainContractAddress}';
        window.contactABI = !{contactABI};