doctype html
html(lang=language)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // Title Of Site
        title Crypto Events
        meta(name='description', content='Crypto Events')
        meta(name='keywords', content='Crypto Events')

        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        script(src='/js/web3.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
        script(src='/js/plugins.js')
        script(src='/js/slides.js')

        link(href='/css/slides.min.css', rel='stylesheet')
        link(href='/css/custom.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Material+Icons', rel='stylesheet')

    body.slides.plain.animated
        block content
    include ./components/popups/installMetamask

    block javaScript
        script(type='text/javascript', src='/js/main.js')
        script(src='/js/custom.js')

