doctype html
html(lang=language)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // Title Of Site
        title Crypto Events
        meta(name='description', content='Crypto Events')
        meta(name='keywords', content='Crypto Events')

        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        script(src='/js/web3.min.js')

        link(href='/css/main.css', rel='stylesheet')

    body
        block content


    block javaScript
        script(type='text/javascript', src='/js/main.js')
