doctype html
html(lang=language)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // Title Of Site
        title Crypto Events
        meta(name='description', content='Crypto Events')
        meta(name='keywords', content='Crypto Events')

        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        script(src='/js/web3.min.js')
        script(src='/js/jquery.min.js')

        link(href='/css/custom.css', rel='stylesheet')
        link(href="/assets/img/apple-touch-icon.png",rel="apple-touch-icon")
        <!--[if lt IE 9]>
        script(src="/js/html5shiv.js")
        script(src="/js/respond.min.js")
        <![endif]-->

        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet')
        link(href='/css/normalize.css', rel='stylesheet')
        link(href='/css/main.css', rel='stylesheet')
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        link(href='/css/owl.carousel.css', rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
        link(href='/css/responsive.css', rel='stylesheet')

body.slides.plain.animated

    block content

    include ./components/popups/installMetamask
    include ./components/popups/alert

    footer#ft_sec.
        <div class="container">
        <div class="row">
        <div class="col-lg-12">
        <ul class="copy_right">
        <li><span>Copyright &copy; 2017 CryptoEvents Inc. All rights reserved.</span>       |      <a href="privacy.html">Privacy Policy</a> |      <a href="termuse.html">Terms of Use</a></li>
        </ul>
        </div>
        </div>
        </div>

    block javaScript
        script(type='text/javascript', src='/js/main.js')
        script(src='/js/custom.js')
        script(src="/js/jquery.min.js")

        script( src="/js/isotope.pkgd.min.js")
        script( src="/js/bootstrap.min.js")
        script( src="/js/appear.js")
        script( src="/js/jquery.counterup.min.js")
        script( src="/js/waypoints.min.js")
        script( src="/js/owl.carousel.min.js")
        script( src="/js/showHide.js")
        script( src="/js/jquery.nicescroll.min.js")
        script( src="/js/jquery.easing.min.js")
        script( src="/js/scrolling-nav.js")
        script( src="/js/plugins.js")
        script(src="/js/main_templ.js")