div.container
    div.row
        div.col-lg-12.col-md-12.col-sm-12.col-xs12
            div.col-md-6.col-sm-12.col-xs-12.fadeInLeft #{token.address}
            div.col-md-6.col-sm-12.col-xs-12.fadeInRight #{token.balance}