extends header.pug
block content
    div.div80
    each eee in event
        include event_for_owner.pug

block prepend javaScript
    script.
        window.mainContractAddress = '#{mainContractAddress}';
        window.contactABI = !{contactABI};
        window.tokenABI = !{tokenABI};