extends layout.pug
block content

    each token in tokens
        include mytokens.pug


block prepend javaScript
    script.
        window.mainContractAddress = '#{mainContractAddress}';
        window.contactABI = !{contactABI};