/* ==========================================================================
   Modal styles
   ========================================================================== */
@-webkit-keyframes anim-open {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0, 0, 1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
    }
}
@keyframes anim-open {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0, 0, 1);
        transform: scale3d(0, 0, 1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@-webkit-keyframes anim-close {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(0.5, 0.5, 1);
    }
}
@keyframes anim-close {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(0.5, 0.5, 1);
        transform: scale3d(0.5, 0.5, 1);
    }
}
.modal-container {
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    z-index: 500000;
    width: 0;
    height: 0;
    padding: 0 20px;
}
.modal-container.open,
.modal-container.close {
    bottom: 0;
    right: 0;
    width: initial;
    height: initial;
}
.modal-container.open .shade,
.modal-container.close .shade {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.modal-container.open .shade {
    opacity: 0.9;
}
.modal-container.open .popup-content {

    -webkit-animation-name: anim-open;
    animation-name: anim-open;
    -webkit-animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
    animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}
.modal-container.close .popup-content {
    -webkit-animation-name: anim-close;
    animation-name: anim-close;
}


.modal-container.open .popup-content,
.modal-container.close .popup-content {
    color:black;
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 2% auto;
    position: relative;
    max-width: 1024px;
    width: 90%;
    border-radius: 4px;
    padding: 0;
    box-shadow: 0 0 35px 7px rgba(30, 30, 30, 0.75);
}

.modal-container .shade {
    background: #403d39;
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
    cursor: pointer;
}

.modal-container .close-modal {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    position: absolute;
    right: -25px;
    top: -25px;
    text-align: center;
    color: #aab008;
    font-size: 32px;
    line-height: 34px;
    font-weight: 400;
    border: solid 1px #3e3c3a;
    box-shadow: 4px 4px 18px 5px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.modal-container .close-modal:hover {
    color: #707070;
    box-shadow: 4px 4px 18px 5px #000000;
}

.modal-text-cont {
    margin: 0 20px 0 30px;
    max-height: 400px;
    overflow: auto;
    padding-right: 10px;
}
.button{
    background-color: #228B22;
    border: medium none;
    border-radius: 5px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px !important;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.5s ease 0s;
    white-space: nowrap;
    width: 170px !important;	
}
.nonevisible {
    display:none !important;
}
.logon {
    font-size:18px;
    font-weight:500;
    color:#40434A;
    border-bottom:4px solid #40434A;
    height: 90px;
    width: 100px;
    line-height: 80px;
    text-align: center;
    display: inline-table;
}
.main_menu{
    height:100px;
}
#sector_first {
background : linear-gradient(to bottom,#EB5757,#A05FB8);
position:relative;
height : 160px;
width : 100%;
overflow:hidden;
display:block;
text-align:center;
padding:50px;
}