div#modal-alert.modal-container
    div.shade
    div.popup-content
        div.modal-text-cont
            h2#titleAlert
            p#textAlert
            p.close_alert Close
    div.popup-icon.close-modal
