div#modal-alert.modal-container
    div.shade
    div.popup-content
        div.modal-text-cont
            h2#titleAlert
            p#textAlert
            span.input-group-btn(style="text-align:center;")
                button.givetoken.close_alert Close
    div.popup-icon.close-modal
