div#modal-metamask.modal-container
    div.shade
    div.popup-content
        div.modal-text-cont
            h2 Please install Metamask extension
            p In order to create and transfer tokens you need to install <a href="https://metamask.io/">https://metamask.io/</a>
    div.popup-icon.close-modal

